.grid-container{
    padding:15px;
    display: grid;
    grid-template-columns: 300px 80%;
    grid-auto-rows: minmax(300px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-areas:
        "sidebar header"
        "sidebar content"
    }



.grid-item-1{
    grid-area:header;
    
    
}

.grid-item-2{
    grid-area:sidebar;
    background-color: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}

.menu-list{
    
    padding:5px 0px;
    
}

.menu-list ul{
    padding:0px;
    margin:0px;
    list-style-type: none;
}

.menu-list ul li{
    padding:10px;
}

.menu-list ul li i{
    margin:0px 20px 0px 10px;
}


.nav-header{
    padding:15px;
    background-color: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: first baseline;
}

.category{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 10px 10px 2px;
    border: 1px solid #ccc;
    border-radius:6px;
    background-color: #70c7f0;
}

.category i{
    padding: 0px 10px 0px 5px;
    
}

.side-menu{
    padding:17px;
    
}

.category-menu ul{
    list-style-type: none;
    padding:12px 5px;

}

.category-menu ul li{
    padding:10px 3px;
}

.category-menu ul li i {
    padding:0px 15px 0px 0px;
}



.sideProfile{
    display: flex;
    justify-content: baseline;
     
  }
  
  .sideProfile ul{
    list-style-type: none;
    padding:2px;
    margin-left: 15px;
  }
  
  .sideProfile ul li{
    padding:1px;
  }
  
  .sideProfile ul li:nth-child(2){
    font-size: 15px;
  }


  .active{
    font-weight: bold;
    color: black;
    font-size: 19px;
  }

.profile{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
