.wlist{
    padding:2px;
    margin-top: 10px;
}

.workersList{
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
    padding: 2px;
    
}

.workersList tr th{
    background-color: #ffffff;
    
    text-align: left;
}

th{
    
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    padding:20px;
    
    
}

td{
    
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    padding:20px;
    font-size: 14px;
    
    
}

tr {
    border:none;
  
}

tbody tr:nth-of-type(even){
    background-color: #ece9e9;
    color: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}